* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color : #F68713;
    --logo-font     :   'Dancing Script', cursive;
    --word-font    :   'Poppins', sans-serif;
    --title--font    :   'Roboto Serif', serif;
}
body {
    background-color: rgba(246, 135, 19,0.3);
}
/* navbar */
nav  {
    background-color: var(--primary-color) !important;
}
.nav-content {

    width: 100%;
}
.left,.left .content {
    display: flex;
    font-size: 20px;
}

.left {
    flex-direction: column;
    justify-content: center;
}

.left li {
    list-style-type: none !important;
}
.left .location {
    font-family: var(--title--font);
    color: white;
    cursor: pointer;
}
.left .location a i {
    color: white;
}
.left .location:hover, .left .location a i:hover {
    opacity: 0.7;
}
.left .nav-link {
    color: white;
    font-family: var(--word--font) !important;
}

.middle {
    display: flex;
    flex-direction: column;
}

.right {
    align-items: center;
}

.right .option a{
    color: white;
    font-size: 20px;
}
/* banner */
#banner {
    margin-top: 88px;
}

/* recommendation */
.group-by {
    display: flex;
    align-items: center;
}

.rec-box h1 {
    font-family: var(--title--font);
    color: var(--primary-color);
}

.product-col {
    justify-content: center;
}

.product-col  .product_back {
    position: absolute;
    top: 0;
    left: 0;    
    display: none;
}

.relative {
    position: relative;
}
.relative:hover .product_back{
    display: inline;
    transition: all ease-in-out 1s;
}

/* footer */
.background-color  {
    background-color: var(--primary-color);
    color: white !important;
    height: 400px;
}

.footer-container .content h3 {
    color: rgb(255, 208, 0) !important;
    font-family: var(--title--font);
    font-size: 20px;
}
.footer-container .content a, .footer-container .content p {
    text-decoration: none !important;
    color: rgba(232, 228, 209, 0.582);
    font-size: 18px;
}
/* scroll to top */
.to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 238, 0, 0.829) !important;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: black;
}

.to-top:hover {
    color: white;
    opacity: 0.7;
}