* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color : #F68713;
    --logo-font     :   'Dancing Script', cursive;
    --word-font    :   'Poppins', sans-serif;
    --title--font    :   'Roboto Serif', serif;
}
body {
    background-color: rgba(246, 135, 19,0.3);
}
/* navbar */
.navbar  {
    background-color: var(--primary-color) !important;
}
.nav-content {

    width: 100%;
}
.left,.left .content {
    display: flex;
    font-size: 20px;
}

.left {
    flex-direction: column;
    justify-content: center;
}

.left li {
    list-style-type: none !important;
}
.left .location {
    font-family: var(--title--font);
    color: white;
    cursor: pointer;
}
.left .location a i {
    color: white;
}
.left .location:hover, .left .location a i:hover {
    opacity: 0.7;
}
.left .nav-link {
    color: white;
    font-family: var(--word--font) !important;
}

.middle {
    display: flex;
    flex-direction: column;
}

.right {
    align-items: center;
}

.right .option a{
    color: white;
    font-size: 20px;
}

/* breadcrumb */
.breadcrumb { 
    padding-top: 100px;
}
.breadcrumb li { 
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
}
.breadcrumb li a {
    color: var(--primary-color) !important;
}

/* product  */
.product-container {
    background-color: rgba(255, 255, 255, 0.477);
}


.product-container .item .title {
    font-family: var(--word-font);

}

.buy-option .price {
    margin-top: 20px !important;
    margin-left: 0px !important;
    font-size: 30px;
    background-color: rgb(246, 135, 19,0.5);
}

.buy-option .item {
    margin-top: 50px;
    margin-left: 20px;
}
.buy-option .item input {
    background-color: var(--primary-color);
    color: white;
}

.buy-option .add-cart {
    border: #F68713 1px solid;
    background-color: rgb(246, 135, 19,0.3);
    color: var(--primary-color);
}
.buy-option .add-cart:hover {
    background-color: var(--primary-color);
    color: white;
}
.quantity-control .box {
    padding: 4px;
    border: 1px solid var(--primary-color);
    height: 35px;
}
/* footer */
.background-color  {
    background-color: var(--primary-color);
    color: white !important;
    height: 400px;
}

.footer-container .content h3 {
    color: rgb(255, 208, 0) !important;
    font-family: var(--title--font);
    font-size: 20px;
}
.footer-container .content a, .footer-container .content p {
    text-decoration: none !important;
    color: rgba(232, 228, 209, 0.582);
    font-size: 18px;
}
/* scroll to top */
.to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 238, 0, 0.829) !important;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: black;
}

.to-top:hover {
    color: white;
    opacity: 0.7;
}